* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* CAJAS TEST */
div {
  padding: 15px;
}

/* BACKGROUND */
.bgc-aqua {
  background-color: #7fffd4;
}

.bgc-blue {
  background-color: #0000ff;
}

.bgc-bviolet {
  background-color: #8a2be2;
}

.bgc-chart {
  background-color: #7fff00;
}

.bgc-coral {
  background-color: #ff7f50;
}

.bgc-crim {
  background-color: #dc134c;
}

.bgc-dgreen {
  background-color: #006400;
}

.bgc-dgray {
  background-color: #696969;
}

.bgc-dark {
  background-color: rgb(44, 44, 44);
}

.bgc-light {
  background-color: rgb(245, 245, 245);
}

.bgc-alert {
  background-color: #ff8c00;
}

.bgc-critical {
  background-color: #be0101;
}

.bgc-blue-1 {
  background-color: rgb(17, 0, 255);
}

.bgc-blue-2 {
  background-color: rgb(16, 0, 240);
}

.bgc-blue-3 {
  background-color: rgb(15, 0, 219);
}

.bgc-blue-4 {
  background-color: rgb(13, 0, 192);
}

.bgc-blue-5 {
  background-color: rgb(10, 0, 155);
}

.bgc-blue-6 {
  background-color: rgb(10, 0, 125);
}

.bgc-blue-7 {
  background-color: rgb(9, 0, 98);
}

.bgc-blue-8 {
  background-color: rgb(6, 0, 73);
}

.bgc-blue-9 {
  background-color: rgb(5, 0, 54);
}

.bgc-blue-10 {
  background-color: rgb(3, 0, 34);
}

.bgc-malva-1 {
  background-color: rgb(224, 176, 255);
}

.bgc-malva-2 {
  background-color: rgb(205, 166, 231);
}

.bgc-malva-3 {
  background-color: rgb(197, 160, 223);
}

.bgc-malva-4 {
  background-color: rgb(180, 146, 202);
}

.bgc-malva-5 {
  background-color: rgb(167, 142, 194);
}

.bgc-yellow-1 {
  background-color: rgb(255, 255, 0);
}

.bgc-yellow-2 {
  background-color: rgb(228, 228, 0);
}

.bgc-yellow-3 {
  background-color: rgb(210, 210, 0);
}

.bgc-yellow-4 {
  background-color: rgb(190, 190, 0);
}

.bgc-yellow-5 {
  background-color: rgb(170, 170, 0);
}

.bgc-yellow-6 {
  background-color: rgb(150, 160, 0);
}

.bgc-yellow-7 {
  background-color: rgb(120, 120, 0);
}

.bgc-yellow-8 {
  background-color: rgb(90, 90, 0);
}

.bgc-yellow-9 {
  background-color: rgb(61, 61, 0);
}

.bgc-yellow-10 {
  background-color: rgb(40, 40, 0);
}

.bgc-purple-1 {
  background-color: rgb(153, 0, 255);
}

.bgc-purple-2 {
  background-color: rgb(153, 0, 235);
}

.bgc-purple-3 {
  background-color: rgb(153, 0, 215);
}

.bgc-purple-4 {
  background-color: rgb(153, 0, 182);
}

.bgc-purple-5 {
  background-color: rgb(150, 0, 155);
}

.bgc-purple-6 {
  background-color: rgb(96, 0, 141);
}

.bgc-purple-7 {
  background-color: rgb(103, 0, 134);
}

.bgc-purple-8 {
  background-color: rgb(70, 0, 77);
}

.bgc-purple-9 {
  background-color: rgb(54, 0, 59);
}

.bgc-purple-10 {
  background-color: rgb(29, 0, 32);
}

.bgc-red-1 {
  background-color: rgb(255, 0, 0);
}

.bgc-red-2 {
  background-color: rgb(230, 0, 0);
}

.bgc-red-3 {
  background-color: rgb(207, 0, 0);
}

.bgc-red-4 {
  background-color: rgb(187, 0, 0);
}

.bgc-red-5 {
  background-color: rgb(161, 0, 0);
}

.bgc-red-6 {
  background-color: rgb(133, 0, 0);
}

.bgc-red-7 {
  background-color: rgb(112, 0, 0);
}

.bgc-red-8 {
  background-color: rgb(97, 0, 0);
}

.bgc-red-9 {
  background-color: rgb(61, 0, 0);
}

.bgc-red-10 {
  background-color: rgb(44, 0, 0);
}

.bgc-orange-1 {
  background-color: rgb(255, 102, 0);
}

.bgc-orange-2 {
  background-color: rgb(199, 80, 0);
}

.bgc-orange-3 {
  background-color: rgb(185, 74, 0);
}

.bgc-orange-4 {
  background-color: rgb(170, 68, 0);
}

.bgc-orange-5 {
  background-color: rgb(158, 63, 0);
}

.bgc-orange-6 {
  background-color: rgb(136, 54, 0);
}

.bgc-orange-7 {
  background-color: rgb(124, 50, 0);
}

.bgc-orange-8 {
  background-color: rgb(102, 41, 0);
}

.bgc-orange-9 {
  background-color: rgb(88, 35, 0);
}

.bgc-orange-10 {
  background-color: rgb(65, 26, 0);
}

.bgc-green-1 {
  background-color: rgb(30, 255, 0);
}

.bgc-green-2 {
  background-color: rgb(23, 195, 0);
}

.bgc-green-3 {
  background-color: rgb(19, 160, 0);
}

.bgc-green-4 {
  background-color: rgb(17, 149, 0);
}

.bgc-green-5 {
  background-color: rgb(15, 126, 0);
}

.bgc-green-6 {
  background-color: rgb(13, 110, 0);
}

.bgc-green-7 {
  background-color: rgb(12, 100, 0);
}

.bgc-green-8 {
  background-color: rgb(10, 85, 0);
}

.bgc-green-9 {
  background-color: rgb(9, 73, 0);
}

.bgc-green-10 {
  background-color: rgb(6, 47, 0);
}

.bgc-gray-1 {
  background-color: rgb(167, 167, 167);
}

.bgc-gray-2 {
  background-color: rgb(116, 116, 116);
}

.bgc-gray-3 {
  background-color: rgb(95, 95, 95);
}

.bgc-gray-4 {
  background-color: rgb(61, 61, 61);
}

.bgc-gray-5 {
  background-color: rgb(39, 39, 39);
}

.bgc-black {
  background-color: #000;
}

.bgc-white {
  background-color: #fff;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-local {
  background-attachment: local;
}

.bg-scroll {
  background-attachment: scroll;
}

.bg-opacity-0 {
  opacity: 0;
}

.bg-opacity-25 {
  opacity: 25%;
}

.bg-opacity-50 {
  opacity: 50%;
}

.bg-opacity-75 {
  opacity: 75%;
}

.bg-opacitu-100 {
  opacity: 100%;
}

.bg-top {
  background-position: top;
}

.bg-right {
  background-position: right;
}

.bg-bottom {
  background-position: bottom;
}

.bg-left {
  background-position: left;
}

.bg-top-left {
  background-position: top left;
}

.bg-bottom-left {
  background-position: bottom left;
}

.bg-top-right {
  background-position: top right;
}

.bg-bottom-right {
  background-position: bottom right;
}

.bg-center {
  background-position: center;
}

.bg-repeat {
  background-repeat: repeat;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-repeat-x {
  background-repeat: repeat-x;
}

.bg-repeat-y {
  background-repeat: repeat-y;
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}

.bg-auto {
  background-size: auto;
}

/* Typography */
.txt-fw-300 {
  font-weight: 300;
}

.txt-fw-400 {
  font-weight: 400;
}

.txt-fw-500 {
  font-weight: 500;
}

.txt-fw-600 {
  font-weight: 600;
}

.txt-fw-700 {
  font-weight: 700;
}

.txt-fw-800 {
  font-weight: 800;
}

.txt-fw-900 {
  font-weight: 900;
}

.txt-fw-b {
  font-weight: bold;
}

.txt-fw-bld {
  font-weight: bolder;
}

.txt-fw-l {
  font-weight: lighter;
}

.txt-fw-n {
  font-weight: normal;
}

.txt-s-sm {
  font-size: 0.65em;
  line-height: 1em;
}

.txt-s-base {
  font-size: 1em;
  line-height: 1.5em;
}

.txt-s-m {
  font-size: 1.15em;
  line-height: 1.75em;
}

.txt-s-l {
  font-size: 1.17em;
  line-height: 1.8em;
}

.txt-s-xl {
  font-size: 1.25em;
}

.txt-s-xxl {
  font-size: 1.5em;
}

.txt-italic {
  font-style: italic;
}

.txt-lh-1 {
  line-height: .65rem;
}

.txt-lh-2 {
  line-height: 1rem;
}

.txt-lh-3 {
  line-height: 1.25em;
}

.txt-lh-4 {
  line-height: 1.5rem;
}

.txt-lh-5 {
  line-height: 1.75rem;
}

.txt-lh-none {
  line-height: none;
}

.txt-lh-normal {
  line-height: normal;
}

.txt-lh-relax {
  line-height: 1.625;
}

.placeholder-gray-1::placeholder {
  background-color: rgb(167, 167, 167);
}

.placeholder-gray-2::placeholder {
  background-color: rgb(116, 116, 116);
}

.placeholder-gray-3::placeholder {
  background-color: rgb(95, 95, 95);
}

.placeholder-gray-4::placeholder {
  background-color: rgb(61, 61, 61);
}

.placeholder-gray-5::placeholder {
  background-color: rgb(39, 39, 39);
}

.placeholder-opacity-100::placeholder {
  opacity: 100%;
}

.placeholder-opacity-75::placeholder {
  opacity: 75%;
}

.placeholder-opacity-50::placeholder {
  opacity: 50%;
}

.placeholder-opacity-25::placeholder {
  opacity: 25%;
}

.placeholder-opacity-0::placeholder {
  opacity: 0%;
}

.txt-start {
  text-align: right;
}

.txt-end {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-justify {
  text-align: justify;
}

/* SIZING */
.w-sm {
  width: 25%;
}

.w-m {
  width: 50%;
}

.w-l {
  width: 75%;
}

.w-xl {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.w-auto {
  width: auto;
}

.w-min {
  width: min-content;
}

.w-max {
  width: max-content;
}

.min-w-0 {
  min-width: 0px;
}

.min-w-full {
  min-width: 100%;
}

.min-w-min {
  min-width: min-content;
}

.min-w-max {
  min-width: max-content;
}

.max-w-0 {
  max-width: 0;
}

.max-w-none {
  max-width: none;
}

.max-w-full {
  max-width: 100%;
}

.max-w-min {
  max-width: min-content;
}

.max-w-max {
  max-width: max-content;
}

.max-w-screen-sm {
  max-width: 640px;
}

.max-w-screem-m {
  max-width: 768px;
}

.max-w-screen-l {
  max-width: 1024px;
}

.max-w-xl {
  max-width: 1280px;
}

.max-w-xxl {
  max-width: 1536px;
}

/* HEIGHTS */
.h-sm {
  height: 25%;
}

.h-m {
  height: 50%;
}

.h-l {
  height: 75%;
}

.h-xl {
  height: 100%;
}

.h-auto {
  height: auto;
}

.h-screen {
  height: 100vh;
}

.min-h-0 {
  min-height: 0px;
}

.min-h-full {
  min-height: 100%;
}

.min-h-screen {
  min-height: 100vh;
}

.max-h-0 {
  max-height: 0px;
}

.max-h-none {
  max-height: none;
}

.max-h-full {
  max-height: 100%;
}

.max-h-screen {
  max-height: 100vh;
}

/* SPACING */
.P-1 {
  padding: 10px;
}

.P-2 {
  padding: 20px;
}

.P-3 {
  padding: 30px;
}

.P-4 {
  padding: 40px;
}

.P-5 {
  padding: 50px;
}

.P-Y-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.P-Y-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.P-Y-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.P-Y-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.P-Y-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.P-X-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.P-X-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.P-X-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.P-X-4 {
  padding-left: 40px;
  padding-right: 40px;
}

.P-X-5 {
  padding-left: 50px;
  padding-right: 50px;
}

.P-T-1 {
  padding-top: 10px;
}

.P-T-2 {
  padding-top: 20px;
}

.P-T-3 {
  padding-top: 30px;
}

.P-T-4 {
  padding-top: 40px;
}

.P-T-5 {
  padding-top: 50px;
}

.P-B-1 {
  padding-bottom: 10px;
}

.P-B-2 {
  padding-bottom: 20px;
}

.P-B-3 {
  padding-bottom: 30px;
}

.P-B-4 {
  padding-bottom: 40px;
}

.P-B-5 {
  padding-bottom: 50px;
}

.P-L-1 {
  padding-left: 10px;
}

.P-L-2 {
  padding-left: 20px;
}

.P-L-3 {
  padding-left: 30px;
}

.P-L-4 {
  padding-left: 40px;
}

.P-L-5 {
  padding-left: 50px;
}

.P-R-1 {
  padding-right: 10px;
}

.P-R-2 {
  padding-right: 20px;
}

.P-R-3 {
  padding-right: 30px;
}

.P-R-4 {
  padding-right: 40px;
}

.P-R-5 {
  padding-right: 50px;
}

.M-1 {
  padding: 10px;
}

.M-2 {
  padding: 20px;
}

.M-3 {
  padding: 30px;
}

.M-4 {
  padding: 40px;
}

.M-5 {
  padding: 50px;
}

.M-Y-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.M-Y-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.M-Y-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.M-Y-4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.M-Y-5 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.M-Y-A {
  margin-top: auto;
  margin-bottom: auto;
}

.M-X-1 {
  margin-right: 10px;
  margin-left: 10px;
}

.M-X-2 {
  margin-right: 20px;
  margin-left: 20px;
}

.M-X-3 {
  margin-left: 30px;
  margin-right: 30px;
}

.M-X-4 {
  margin-left: 40px;
  margin-right: 40px;
}

.M-X-5 {
  margin-left: 50px;
  margin-right: 50px;
}

.M-X-A {
  margin-left: auto;
  margin-right: auto;
}

.M-T-1 {
  margin-top: 10px;
}

.M-T-2 {
  margin-top: 20px;
}

.M-T-3 {
  margin-top: 30px;
}

.M-T-4 {
  margin-top: 40px;
}

.M-T-5 {
  margin-top: 50px;
}

.M-T-A {
  margin-top: auto;
}

.M-B-1 {
  margin-bottom: 10px;
}

.M-B-2 {
  margin-bottom: 20px;
}

.M-B-3 {
  margin-bottom: 30px;
}

.M-B-4 {
  margin-bottom: 40px;
}

.M-B-5 {
  margin-bottom: 50px;
}

.M-B-A {
  margin-bottom: auto;
}

.M-L-1 {
  margin-left: 10px;
}

.M-L-2 {
  margin-left: 20px;
}

.M-L-3 {
  margin-left: 30px;
}

.M-L-4 {
  margin-left: 40px;
}

.M-L-5 {
  margin-left: 50px;
}

.M-L-A {
  margin-left: auto;
}

.M-R-1 {
  margin-right: 10px;
}

.M-R-2 {
  margin-right: 20px;
}

.M-R-3 {
  margin-right: 30px;
}

.M-R-4 {
  margin-right: 40px;
}

.M-R-5 {
  margin-right: 50px;
}

.M-R-A {
  margin-right: auto;
}

/* Layout */

.container {
  width: 100%;
}

.container-sm {
  max-width: 640px;
}

.container-m {
  max-width: 768px;
}

.container-l {
  max-width: 1024px;
}

.container-xl {
  max-width: 1280px;
}

.box-s-b {
  box-sizing: border-box;
}

.box-s-c {
  box-sizing: content-box;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.d-none {
  display: none;
}

.d-show {
  display: contents;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.float-none {
  float: none;
}

.object-contain {
  object-fit: contain;
}

.object-cover {
  object-fit: cover;
}

.object-none {
  object-fit: none;
}

.overflow-auto {
  overflow: auto;
}

.overflow-h {
  overflow: hidden;
}

.overflow-v {
  overflow: visible;
}

.overflow-s {
  overflow: scroll;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-h {
  overflow-x: hidden;
}

.overflow-x-v {
  overflow-x: visible;
}

.overflow-x-s {
  overflow-x: scroll;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-y-h {
  overflow-y: hidden;
}

.overflow-y-v {
  overflow-y: visible;
}

.overflow-y-s {
  overflow-y: scroll;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.static {
  position: static;
}

/* Top- Right- Bottom -Left */

.y-0 {
  top: 0;
  bottom: 0;
}

.x-0 {
  right: 0;
  left: 0;
}

.xy-0 {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.-y-0 {
  top: 0;
  bottom: 0;
}

.-x-0 {
  right: 0;
  left: 0;
}

.-xy-0 {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.xy-px {
  top: 1px;
  bottom: 1px;
  right: 1px;
  left: 1px;
}

.-xy-px {
  top: -1px;
  bottom: -1px;
  right: -1px;
  left: -1px;
}

.y-px {
  top: 1px;
  bottom: 1px;
}

.-y-px {
  top: -1px;
  bottom: -1px;
}

.x-px {
  right: 1px;
  left: 1px;
}

.-x-px {
  right: -1px;
  left: -1px;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.-top-0 {
  top: 0;
}

.-right-0 {
  right: 0;
}

.-bottom-0 {
  bottom: 0;
}

.-left-0 {
  left: 0;
}

.top-px {
  top: 1px;
}

.right-px {
  right: 1px;
}

.bottom-px {
  bottom: 1px;
}

.left-px {
  left: 1px;
}

.-top-px {
  top: -1px;
}

.-right-px {
  right: -1px;
}

.-bottom-px {
  bottom: -1px;
}

.-left-px {
  left: -1px;
}

.top-10 {
  top: 10%;
}

.top-20 {
  top: 20%;
}

.top-30 {
  top: 30%;
}

.top-40 {
  top: 40%;
}

.top-50 {
  top: 50%;
}

.top-60 {
  top: 60%;
}

.top-70 {
  top: 70%;
}

.top-80 {
  top: 80%;
}

.top-90 {
  top: 90%;
}

.top-100 {
  top: 100%;
}

.bottom-10 {
  bottom: 10%;
}

.bottom-20 {
  bottom: 20%;
}

.bottom-30 {
  bottom: 30%;
}

.bottom-40 {
  bottom: 40%;
}

.bottom-50 {
  bottom: 50%;
}

.bottom-60 {
  bottom: 60%;
}

.bottom-70 {
  bottom: 70%;
}

.bottom-80 {
  bottom: 80%;
}

.bottom-90 {
  bottom: 90%;
}

.bottom-100 {
  bottom: 100%;
}

.right-10 {
  right: 10%;
}

.right-20 {
  right: 20%;
}

.right-30 {
  right: 30%;
}

.right-40 {
  right: 40%;
}

.right-50 {
  right: 50%;
}

.right-60 {
  right: 60%;
}

.right-70 {
  right: 70%;
}

.right-80 {
  right: 80%;
}

.right-90 {
  right: 90%;
}

.right-100 {
  right: 100%;
}

.left-10 {
  left: 10%;
}

.left-20 {
  left: 20%;
}

.left-30 {
  left: 30%;
}

.left-40 {
  left: 40%;
}

.left-50 {
  left: 50%;
}

.left-60 {
  left: 60%;
}

.left-70 {
  left: 70%;
}

.left-80 {
  left: 80%;
}

.left-90 {
  left: 90%;
}

.left-100 {
  left: 100%;
}

/* end positions */

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 10;
}

.z-2 {
  z-index: 20;
}

.z-3 {
  z-index: 30;
}

.z-4 {
  z-index: 40;
}

.z-5 {
  z-index: 50;
}

/* Borders */